img{
    width: 100px;
}

table{
    width: auto;
    border: 20px;
    align-content:center ;
    border: 3px solid grey;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
}

.highlight {
    color: white;
    background-color: black;
    padding: 10px;
    width: 250px;
    text-align: center;
  }